:root{
    --colorPrincipal:#5ba5db87;
     
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--colorPrincipal);
    font-family: "Red Hat Display", sans-serif;
}

.title{
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 1rem;
    overflow: hidden;
}

.screen {
    height: 15rem;
    background: #001e34;
    margin: 2rem 2rem;
    margin: 0 auto;
}

.screenContent {
    text-align: end;
    padding: 1rem;
    font-size: 5rem;
    user-select: none;
}

.calculation {
    font-size: 1.5rem;
    color: white;
    overflow: hidden;
    padding-top: 2rem;
}

.result {
    font-size: 2.5rem;
    padding-top: 1rem;
    color: #0397db;
}

table {
    background-color: #001e34;
    border-collapse: collapse;
}

tr,
td {
    border: 0.2px solid black;
    border-collapse: collapse;
}

.btn {
    width: 50px;
    height: 50px;
    font-size: 17px;
    cursor: pointer;
    border: none;
    background: #002b4a;
    color: white;
    outline: none;
}

.operator {
    color: #2aeb23;
    font-family: "Fira Sans", sans-serif;
}

.math {
    color: #3e2a77;
    font-family: "Fira Sans", sans-serif;
}

input[type="button"]:hover {
    background-color: #ffa800;
    color: #fff;
    transition: all 0.5s linear;
}

